* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 45, 65);
    text-align: center;
}

h1, h2, h3, .text-center {
    text-align: center;
}

.positive {
    background-color:  rgba(0, 128, 0, 0.253);
    border: 10px solid rgb(0, 119, 0);
    border-radius: 500px;
    padding: 10px;
    margin: auto;
    width: 75vw;
    height: 75vw;
}
.negative {
    background-color: rgba(255, 0, 0, 0.158);
    border: 10px solid red;
    border-radius: 500px;
    padding: 20px 10px;
}